.formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: #F3F3F3;
}

.formLeft, .formRight {
    flex: 1 1 300px;
    margin: 10px;
}

.textInput, .fileInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitButton {
    background-color: #2185D5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submitButton:hover {
    background-color: #0b69b7;
}

.alert {
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    color: #004085;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.detectedImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .formLeft, .formRight {
        flex: 1 1 100%;
    }
}