.landingPage {
    position: relative;
    width: 100%;
    height: 700px;
    background: #F3F3F3;
    font-family: 'Poppins', Arial, sans-serif;
}

.header {
    position: relative;
    width: 100%;
    height: 93.48px;
    background: #2185D5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 250px;
    height: 50px;
    margin-left: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-grow: 1;
}

.navList {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.navItem {
    margin-right: 30px;
}

.navLink {
    text-decoration: none;
    color: #F3F3F3;
    font-weight: 600;
    font-size: 21px;
}

.loginBtn {
    background: #F3F3F3;
    color: #2185D5;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 20px;
    width: 150px;
}

.hero {
    position: relative;
    width: 100%;
    height: 600px;
    background:#2185D5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.heroText {
    position: absolute;
    top: 50px;
    left: 61px;
    max-width: 464px;
}

.heroText h1 {
    font-size: 42px;
    font-weight: 700;
    color: #F3F3F3;
    margin-bottom: 50px;
}

.heroText p {
    font-size: 22px;
    font-weight: 400;
    color: #F3F3F3;
    margin-bottom: 50px;
}

.reportBtn {
    width: 215px;
    height: 60px;
    background: #F3F3F3;
    color: #2185D5;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.heroImage {
    position: absolute;
    width: 500px;
    height: 480px;
    left: 730px;
    top: 50px;
    background: url('/images/image.png') no-repeat center center/cover;
}

@media (max-width: 1024px) {
    .heroImage {
        width: 400px;
        height: 380px;
        left: 60%;
        top: 20px;
    }
}

@media (max-width: 768px) {
    .heroText h1 {
        font-size: 1.5rem;
    }

    .heroText p {
        font-size: 1rem;
    }

    .reportBtn {
        padding: 10px 20px;
        font-size: 0.875rem;
    }

    .loginBtn {
        width: 150px;
        height: 40px;
        font-size: 16px;
    }

    .heroImage {
        width: 300px;
        height: 280px;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
    }
}

@media (max-width: 480px) {
    .heroImage {
        width: 200px;
        height: 180px;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
    }
}